---
- name: Deploy FastAPI App to App Server
  hosts: app_server # This targets ONLY the server in your [app_server] group
  become: yes # All these tasks will be run with 'sudo'

  tasks:
    - name: Update the package list
      apt:
        update_cache: yes

    - name: Install dependencies (git, python3-pip, docker, docker-compose)
      apt:
        name:
          - git
          - python3-pip # For Docker Compose
          - docker.io
          - docker-compose
        state: present

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Add 'ubuntu' user to the 'docker' group
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Clone the application repository
      git:
        # !!! CRITICAL: CHANGE THIS to your GitHub repo URL !!!
        repo: https://github.com/ayushk1233/mlops-house-price-deployment.git
        dest: /home/ubuntu/app
        force: yes # This will overwrite any changes on the server

    # --- THIS IS THE NEW TASK ---
    - name: Install Python libraries on host
      pip:
        requirements: /home/ubuntu/app/requirements.txt
        executable: pip3

    - name: Train the model
      # This command runs your train script inside the cloned repo
      # We use 'shell' because it's a simple one-off command
      shell: |
        python3 /home/ubuntu/app/model/train_model.py
      args:
        chdir: /home/ubuntu/app # Runs the command *from* this directory

    - name: Build and run the app with docker-compose
      # This runs 'docker-compose up -d --build' in the app directory
      shell: |
        cd /home/ubuntu/app
        docker-compose up -d --build
      args:
        chdir: /home/ubuntu/app
